:root{
    --article-color: #e5e7eb;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

nav {
    background-color: #60a5fa;
    padding: 20px;
}

section{
    background-color: var(--article-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
}
body{
    display: grid;
    grid-template: 1fr 1fr / 1fr 5fr;
    font-family: 'Roboto', sans-serif;
}
ul{
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    margin-top: 50px;
}
li{
    margin-bottom: 12px;
}
li:nth-child(6){
    margin-bottom: 40px;
}
li>img{
    height: 1.3rem;
    margin-right: 15px;
}
h1{
    color: #fff;
    font-size: 1.6rem;
}
.title{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    align-items: center;
}
.top{
    display: grid;
    grid-template-columns: 1fr 15fr 1fr 1.2fr 2fr;
    font-size: 1.2rem;
    font-weight: 800;
    align-items: center;
    padding: 20px
}
.top>img{
    height: 1.4rem;
    margin: 0 auto;
    border-radius: 50%;
}
.top>img:nth-child(4){
    height: 2.4rem;;
}
.top>input{
    margin-right: 200px;
    background-color: var(--article-color);
    border: none;
    border-radius: 12px;
    height: 1.7rem;
}
.top>p{
    margin: 0 auto;
}
.menus{
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 10fr 1.5fr 1.5fr 1.5fr;
    align-items: center;
    gap: 20px;
}
.menus>img{
    height: 3.5rem;
    border-radius: 50%;
    margin-left: 15px;
}
.greeting{
    font-weight: 700;
    font-size: 0.8rem;
}
.greeting>.name{
    font-size: 1.4rem;
}
.menus>button{
    background-color: #60a5fa;
    color: #fff;
    border: none;
    padding: 12px 10px;
    border-radius: 20px;
    font-weight: 700;
}
article{
    padding: 20px;
}
article>h2{
    margin-bottom: 20px;
}
.projects{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 20px;
}
.project{
    background-color: #fff;
    border-left: 8px solid #5d7482;
    padding: 25px;
    border-radius: 10px;
    display: grid;
    min-height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text>p{
    margin-top: 5px;
    color: grey
}
.project-buttons{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: 15px;
    margin-top: 30px;
}
.project-buttons>img{
    width: 25px;
    height: 25px;
}
aside{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
}
.announcement-box>h2{
    margin-bottom: 20px;
}
.announcements{
    padding: 0 25px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.announcement{
    padding: 20px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}
.trending{
    background-color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 20px 20px 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.trending-box h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
.user:last-child {
    padding-bottom: 0;
}
.users{
    display: grid;
    grid-template-rows: repeat(4,1fr);
}
.user{
    display: grid;
    grid-template-columns: 50px auto;
    margin-bottom: 15px;
    gap: 20px;
    align-items: center;
}
.user>img, .user>a>img{
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.username>p:first-child{
    font-weight: 800;
}
a{
    text-decoration: none;
    color: black;
}